body {
    position: relative;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    top: 50px;
    left: 320px;
}

th,
td {
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 40px;
}

caption {
    font-size: xx-large;
}

input[type="reset"] {
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: small;
    border-radius: 20px;
    padding: 4px 22px;
    position: absolute;
    bottom: 30px;
    left: 90px;

}

div {
    position: relative;
    position: absolute;
    top: 400px;
    left: 50px;
}