.parent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 0px;
}

.london,
.oslo,
.roma {
    display: inline-block;
    width: 25%;
    padding: 20px;
    margin-top: 50px;
}

.london {
    background-color: #fff4a2;
    margin-left: 8%;
}

.oslo {
    background-color: #febfc7;
}

.roma {
    background-color: #d9ede1;
}

h1 {
    font-weight: 400;
}