body {
    position: relative;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    top: 50px;
    left: 320px;
}

th,
td {
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 40px;
}

caption {
    font-size: xx-large;
}